name: 52patta Client Deploy Configuration

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build docker image
        working-directory: client
        run: docker build -t prins203/52-patta-client .
      - name: Publish image to docker hub
        working-directory: client
        run: docker push prins203/52-patta-client:latest
        
  deploy:
    needs: build
    runs-on: [self-hosted, client]
    steps:
      - name: Docker Cleanup
        run: |
          docker ps -q | xargs -r docker stop
          docker image prune -a -f
          docker container prune -f
          docker volume prune -f
          docker network prune -f
      - name: Pull image from docker hub
        run: docker pull prins203/52-patta-client:latest
      - name: Run docker container
        run: docker run -d -p 80:3000 --name 52-patta-client-container -e REACT_APP_WS_URL="${{ secrets.REACT_APP_WS_URL }}" -e REACT_APP_BASE_URL="${{ secrets.REACT_APP_WS_URL }}/api" prins203/52-patta-client